body { 
    background-color: grey;
}

h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
h2 {
  color: red;
  font-family: courier;
  font-size: 160%;
}
h3 {
    color: orange
    font-family: courier;
    font-size: 160%;
}
table, th {
    border: 1px solid grey
  }